.save-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.save-button:hover {
    background-color: #4CAF50;
    color: white;
}
.type{
    color: black;
    font-family: "Fira Code Medium", serif;
}

.val{
    font-family: FreeSans, serif;
}

.alert-success {
    padding: 20px;
    background-color: limegreen;
    color: white;
}
.alert-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.flex-items-list{
    display: flex;
    flex-wrap: wrap;
}
.flex-items{
    padding: 50px;
    background-color: gray;
    margin: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.loginButton:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}